
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 20px;
}
.navbar-container {
    /* display: flex; */
    justify-content: center;
    margin-bottom: 20px;
}
.navbar {
    background-color: #0097a7;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover {
    background-color: #1e90ff;
}
.titulo {
    font-size: 2.5em;
    color: #1e90ff;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.zona {
    margin-bottom: 40px;
}
h2 {
    color: #1e90ff;
    border-bottom: 2px solid #0097a7;
    padding-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #0097a7;
    padding: 12px;
    text-align: center;
}
th {
    background-color: #0097a7;
    color: white;
}
tbody tr:nth-child(even) {
    background-color: #0097a7;
}
tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
tbody tr:hover {
    background-color: #d1e7ff;
}
.equipo {
    font-weight: bold;
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(125,121,125,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(125,121,125,1);
    box-shadow: 0px 5px 15px 0px rgba(125,121,125,1);
    background-color: var(--fuente-principal);
    padding: 2rem;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .nav-responsive {
        display: flex;
        width: 100%;
    }
}

